html, body {
    font-family: Arial, Helvetica, sans-serif;
}

.article-container{
    display: flex;
    justify-content: center;
}

.article-video {
    display: flex;
    justify-content: center;
    /* background-color: red; */
    .article-video-title {
        text-align: center;
        margin: 5px 0px;
    }
    iframe {
        height: 40vh;
    }
}

.h-article-container {
    display: flex;
    overflow-x: auto;
    /* overflow-y: hidden; */
    height: 35vh;


    background-color: cyan;

    .article-card {
        display: flex;
        flex-direction: column;
        margin: 4px;
        width: 320px;
        height: 90%;
        

        border: solid black 2px;

        .article-card-image {
            
        }
    }
}